- AstroJS v5
- Fully static export (no SSR)
- Prefer vanilla JS or portable web components for lightweight progressive enhancement
- Data fetched from Directus backend at build time
- Pagefind for search (static site generation)

## Content

- Currently only in French
- Always 'tutoyer' (informal 'you')
- Friendly and fun tone
- hard-coded internal links always have a trailing slash
- Do not put spaces before punctuation characters even if it goes against traditional typography rules (to avoid orphan characters on new lines)
