---
    // import Fragment from 'astro/components'
  import { SkeletonPage, BasicPage } from '@layouts'

---

<SkeletonPage>
    <div slot="head">
        <title>L'équipe | Wanna-Play.be</title>
        <link rel="canonical" href="https://www.wanna-play.be/fr/equipe/">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Wanna Play">
        <meta property="og:title" content="L'équipe | Wanna-Play.be">
        <meta name="description" content="Viens découvrir qui se cache derrière Wanna Play">
        <meta property="og:description" content="Viens découvrir qui se cache derrière Wanna Play">
        <meta property="og:url" content="https://www.wanna-play.be/fr/equipe/">
        <!-- <meta name="theme-color" content="rgb(47,82,160)"> -->
        <!-- <link rel="sitemap" type="application/xml" href="https://www.wanna-play.be/sitemap.xml"> -->
    </div>
    
    <BasicPage lang={{ code: 'fr' }}>

    <main class="max-width-measure-h2 center stack gap-down-h1 box no-border">
        <h1 class="center text">L'équipe</h1>
        <img src="/assets/images/team.jpg" alt="L'équipe" width="3334" height="1250" loading="lazy" />

        <div class="max-width-measure center size-h3">
            <p>Voilà la nouvelle tribu Wanna Play.</p>
            <p>Reviens bientôt pour découvrir les profils de chacun.</p>
        </div>
    </main>
    

    </BasicPage>
</SkeletonPage>

<style>
img {
    /* width: var(--measure-h2); */
    max-width: 100%;
    height: auto;
}
</style>