---
    // import Fragment from 'astro/components'
  import { SkeletonPage, BasicPage } from '@layouts'
  import { SEO, Img } from '@components'

---

<SkeletonPage lang="fr">
    <SEO
        slot="head"
        ogType="website"
        title="L'équipe"
        description="Viens découvrir qui se cache derrière Wanna Play"
        canonicalUrl={Astro.canonicalURL.href}
        socialImage="/assets/images/LOGO-1024px.png"
        ogVideo={false}
        twitterCard="summary"
    />
    
    <BasicPage lang={{ code: 'fr' }}>
        <main class="max-width-measure-h2 center stack gap-down-h1 box no-border">
            <h1 class="center text">L'équipe</h1>
            <!-- <img src="/assets/images/team.jpg" alt="L'équipe" width="3334" height="1250" loading="lazy" /> -->
            <Img
                src="/src/assets/images/team.jpg"
                alt="L'équipe"
                width="3334"
                height="1250"
                loading="lazy" />

            <div class="max-width-measure center size-h3">
                <p>Voilà la nouvelle tribu Wanna Play.</p>
                <p>Reviens bientôt pour découvrir les profils de chacun.</p>
            </div>
        </main>
    

    </BasicPage>
</SkeletonPage>

<style>
img {
    /* width: var(--measure-h2); */
    max-width: 100%;
    height: auto;
}
</style>