---
// import Fragment from 'astro/components'
import { SkeletonPage, BasicPage } from "@layouts"
import { SEO } from "@components"

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<SkeletonPage lang="fr">
  <SEO
    slot="head"
    ogType="website"
    title="L'histoire du projet"
    description="Au service de la communauté du jeu de société en Belgique depuis 2017"
    canonicalUrl={canonicalURL.href}
    socialImage="/assets/images/LOGO-1024px.png"
    ogVideo={false}
    twitterCard="summary"
  />
  <BasicPage lang={{ code: "fr" }}>
    <main class="max-width-measure-h3 center stack gap-down-h1 box no-border">
      <header class="stack center text">
        <h1>Le projet Wanna Play</h1>
        <p class="h2 color-palette-variation-funky">
          Au service de la communauté du jeu de société!
        </p>
      </header>
      <section
        id="project-intro"
        class="
                stack gap-down-h4 center text
                full-bleed-before full-bleed-after skew-border-before skew-border-after
                color-palette-variation-funky-contrast"
      >
        <h2>Notre mantra</h2>
        <p>Connecter les joueurs et le monde ludique belge de manière générale</p>
        <h2>Nos objectifs</h2>
        <p>
          Centraliser l'info pour permettre aux joueurs avertis et occasionnels
          de trouver le lieu de jeu qui leur correspond et de rencontrer
          d'autres joueurs passionnés.
        </p>
        <p>
          Centraliser l'info pour permettre aux différents acteurs du monde ludique d'entrer en contact afin de créer des projets et/ou partenariats.
        </p>
        <p>
          Faciliter la professionalisation dans le monde du jeu en Belgique.
        </p>

        <p>
          On a commencé ce projet avec l'idée de devenir "le Airbnb" des soirées
          jeu de société.<br />Cette idée nous anime toujours. Certaines
          fonctionnalités sont déjà prêtes et attendent juste que la communauté
          le soit également. ;)
        </p>
      </section>
      <nav class ="timelineNav">
        <h2 class = "title">Ligne du temps de l'asbl et évolution du projet</h2>
        <ul>
          <li><a href="#2017">2017</a></li>
          <li><a href="#2018">2018</a></li>
          <li><a href="#2020">2020</a></li>
          <li><a href="#2021">2021</a></li>
          <li><a href="#2022">2022</a></li>
          <li><a href="#2023">2023</a></li>
          <li><a href="#2024">2024</a></li>
        </ul>       
      </nav>

      <div>
        <div class="title-label color-palette-variation-contrast">
          <h2>Prequel</h2>
        </div>
        <p>
          L'idée est dans la tête d'Éric. Il y pense. Il pleure parce que ça
          n'existe pas. Il s'impatiente... Et il finit par en parler à Tess et
          Marc. <a href="/archive/team-2019.html" target="_blank">À trois</a>,
          avec des compétences qui se complètent, on est gonflés à bloc pour
          démarrer cette grande aventure.
        </p>
      </div>
      <div id = "2017" class = "ancre">
        <div class="title-label color-palette-variation-contrast">
          <h2>3 mai 2017</h2>
        </div>
        <p>
          On met en ligne <a href="/archive/first-landing.html" target="_blank"
            >la première landing page
          </a> pour parler du projet. On veut permettre aux joueurs de jouer où et
          quand ils veulent. On veut leur fournir un outil pour s'organiser. L'objectif
          est que chacun puisse créer ou rejoindre une partie près de chez lui facilement.
        </p>
        <p>
          On parle du projet et on fait plein de rencontres intéressantes et
          encourageantes.
        </p>
      </div>
      <div>

        <div class="title-label color-palette-variation-contrast">
          <h2>août 2017</h2>
        </div>
        <p>
          On teste pour la première fois à grande échelle le concept des
          réservations de parties durant <a
            href="/archive/brussels-games-festival.html"
            target="_blank"
            >la nocturne du Brussels Games Festival
          </a>. Le succès est mitigé mais les retours sont super encourageants.
        </p>
        <p>
          Suite au BGF, on se rend compte que le monde du JDS à Bruxelles est
          très morcelé. On se met en tête de référencer tous les événements jeu
          de Bruxelles sur une page du site et de créer une liste de diffusion
          pour que tu recoives la liste chaque semaine dans ta boite mail. La
          page est restée en ligne et a été la plus visitée du site jusqu'à fin
          2018.
        </p>
        <p>
          Petit à petit, on invite quelques <a
            href="/archive/ambassadors.html"
            target="_blank"
            >ambassadeurs
          </a> à tester le concept en organisant des parties chez eux ou dans un
          lieu public. Le succès est mitigé. La plateforme manque de membres et nous
          décidons de mettre en suspend les fonctionnalités de création de parties
          pour les particuliers.
        </p>
        <p>
          Dans le cadre de notre partenariat avec le BGF, on teste le concept
          Wanna Play lors des <a
            href="/archive/brussels-games-party.html"
            target="_blank"
            >Brussels Games Party
          </a>. Ça nous permet de tester plusieurs approches pour voir ce qui
          est le plus utile au public.
        </p>
        <p>
          Création d'une <a
            href="https://www.youtube.com/channel/UCiDueliYGH4b3RMG0AYE5EQ"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >chaine Youtube
          </a> et de notre <a
            href={`https://www.youtube.com/watch?v=L5faEDSmklM&feature=youtu.be`}
            target="_blank"
            rel="nofollow noopener noreferrer"
            >première video
          </a> ("amateur", faut il le préciser? ^^) pour expliquer le concept Wanna
          Play.
        </p>
        <p>
          Rencontre avec Asmodee Belgium et participation au <a
            href="https://www.facebook.com/AsmodeeBNL/videos/2266493293375713/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Belgoludiconews 90
          </a> du 30 mai, notamment pour annoncer...
        </p>
      </div>
    
      <div id ="2018" class = "ancre"> 
        <div class="title-label color-palette-variation-contrast">          
          <h2>10 juin 2018</h2>            
        </div>
        <p>
          <a href="/archive/inauguration.html" target="_blank"
            >Inauguration de Wanna Play et soirée jeux
          </a>
        </p>
        <p>
          100 personnes qui viennent juste pour nous. 13 partenaires éditeurs,
          distributeurs, ludothèques, ... Chacun s'occupe d'une ou deux tables
          de jeu et organise ses parties grâce à Wanna Play.<br />On peut le
          dire, cet événement a été un franc succès, une belle dose de stress et
          une tonne de rencontres passionnantes!
        </p>
        <p>Pour voir la vidéo de L'inauguration c'est par <a href="https://youtu.be/laySniWhIU4">ici</a></p>
      </div>
      <div>
        <div class="title-label color-palette-variation-contrast">
          <h2>été 2018</h2>
        </div>

        <p>
          Préparation du BGF avec les après-midi jeu au Vaux-Hall. Pour la
          première fois, tu peux voir à l'avance la liste des jeux qui seront
          disponibles sur place et tu peux voter pour les jeux que tu as le plus
          envie de tester.
        </p>
        <p>
          On se lance aussi dans l'idée folle de réaliser une <a
            href="https://bgf.wanna-play.be/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >App Compagnon
          </a> pour le BGF 2018. On a moins de 2 mois pour réaliser une <a
            href="https://bgf.wanna-play.be/about-the-app/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Progressive Web App
          </a> référencant tous les exposants, les animations, les jeux et les infos
          pratiques du festival. Un beau challenge. L'application est mise en ligne
          2 jours avant le début du festival. (Pfiiooou ! ^^)
        </p>
        <p>
          En plus de l'App Compagnon, on a relevé nos manches pour l'édition
          2018 du BGF et on s'est organisé avec un tas d'éditeurs pour faire
          jouer leurs nouveautés durant <a
            href="/archive/brussels-games-festival.html"
            target="_blank"
            >la nocturne
          </a>. 20 tables en réservation toute la nuit et plus de 50 nouveautés
          à te faire découvrir. 29 partenariats et 11 animateurs nous donnent un
          coup de main de 20h à 8h du mat.
        </p>
        <p>Wouaw! Un truc de fou cette nocturne ! Mate un peu <a href="https://youtu.be/Z895F3XZ-sg">l'aftermovie</a>!</p>
      </div>
      <div>
        <div class="title-label color-palette-variation-contrast">
          <h2>septembre 2018</h2>
        </div>    
        <p>
          On les a rencontrés lors du BGF... l'équipe de <a
            href="https://www.ulule.com/megalithe/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Megalithe.co
          </a>.<br />Les projets se ressemblent et c'est tout naturellement
          qu'on décide de se revoir pour discuter de l'avenir. En septembre,
          petite virée à Lille pour un weekend. On y découvre des personnes
          réellement investies qui ont décidé de vivre ce projet à 100%.<br
          />Les discussions sont longues, intenses et passionnées durant tout le
          weekend. ^^ On repart emballés à l'idée de joindre nos forces pour
          développer la communauté de jeu de société dont tout le monde rêve.
        </p>
        <p>
          Dans les mois qui suivent, on prend des heures à réfléchir ensemble,
          avec Natacha et Kévin de Mégalithe et chacun de son côté pour trouver
          comment combiner les projets et comment répondre au mieux aux besoins
          des joueurs.
        </p>
        <p>
          Durant ces quelques mois, on s'emballe beaucoup dans les potentialités
          d'agrandir l'équipe et le projet, de diversifier les compétences, ...
          On s'emballe tellement qu'on en oublie un petit peu de faire grandir
          notre bébé...
        </p>
        <p>
          La fin d'année annonce l'heure du bilan et des remises en question
          pour Wanna Play. Il faut tirer les enseignements de toutes ces
          expériences et aller de l'avant.
        </p>
        <p>
          Nous avons un peu trop idéalisé tout ça. Pas assez de temps à investir
          car nos métiers nous passionnent aussi... On décide finalement de
          laisser de bon coeur nos quelques idées à Megalithe et de repartir
          chacun de son côté pour peut être mieux se retrouver plus tard si la
          vie le décide…
        </p>
        <p>
          Au-delà des fonctionnalités qu'on pourrait mettre en place pour
          t'aider, on se rend compte qu'il y a un grand besoin d'information
          pour les joueurs. L'info est super fragmentée. Si on veut vraiment
          rendre service, il faudrait commencer par donner plus de visibilité
          aux nombreuses initiatives qui existent à travers le pays et
          au-delààààà...
        </p>
        <p>
          C'est l'heure de se recentrer sur nos atouts et de montrer de quel
          bois on se chauffe ! :)
        </p>

      </div>
      <div id = "2020" class = "ancre">
        <div class="title-label color-palette-variation-contrast">
          <h2> Mars 2020...et son confinement</h2>
        </div>
        <p>Suite à l'annonce du premier confinement en Belgique nos idées de projets pour le BGF s'effondrent… ça nous déprime, nous révolte un peu…</p>
        <p>Éric quitte l'asbl et 7 nouveaux membres nous rejoignent: Jo, Mathieu, Paul, Sophie, Kevin, Emilie et Quentin D..Jo prend un rôle d'aministrateur de l'asbl à nos côtés pour pouvoir garder Wanna Play vivant (parcequ'à 2, une asbl, ça n'existe pas).</p>
      </div>
      <div>
      <div class="title-label color-palette-variation-contrast">
        <h2> Juin 2020</h2>
      </div>
      <p>Rencontre avec Christophe et Maxime de <a href ="https://bedetectives.be/">BeDetectives</a>: on échangera des parties de jeux, repas, verres, discutions, brainstorming,…
      Ensuite, réunion avec l'équipe du BGF pour trouver des idées d'alternative au BGF tel qu'on le connait jusque là, compatibles avec les restrictions sanitaies liées au Covid. Beaucoup se fera en ligne, on vient avec des idées d'enquête dans les lieux de jeux et un webinaire en partenariat avec BeDetective…</p>
      <p>On travaille tous les 3 comme des fous jusqu'au burn out pour finaliser l'enquête et le <a href ="https://youtu.be/l8cuK7a-elE">webinaire</a> dans les temps.</p>
      <p>Un peu déçus du peu de retours du BGF par rapport au travail fourni, avec en plus le travail et la vie privée qui nous rattrape, le projet et le site web ont été mis de côté jusqu'en 2021. </p>
    </div>

    <div id ="2021" class = "ancre">
      <div class="title-label color-palette-variation-contrast">
        <h2> 2021</h2>
      </div>
      <p>L'année a été fort compliquée, entre les confinements et les restrictions sanitaires, on essaye de rester debout en tant qu'être humain et Wanna Play passe après tout ça.</p>
      <p>Cela nous a permis aussi de renconter 3 nouveaux membres: Maryse et Louis. Ça nous rebooste, nous remotive: on décide de reprendre le projet en main et, dès que les conditions sanitaires le permettent, de pouvoir se retrouver et refaire des évènements.</p>
    </div>

      <div id = "2022" class = "ancre">
        <div class="title-label color-palette-variation-contrast">
          <h2> 2022</h2>
        </div>
        <p>L'année 2022 commence en beauté avec Yves qui rejoint les rangs et est motivé plus que jamais à ajouter et tenir à jour un maximum de contenu sur les lieux et events ludiques dans toute la Belgique! On profite de cette nouvelle énergie afin de réfléchir aux activités qu'on va proposer pour le prochain BGF...</p>
        <p>... et le couperet tombe: le BGF, qui n'a pas non plus été épargné par les années Covid, n'aura pas lieu cette année. On est sidérés, stupéfaits, tristes, déçus, comme beaucoup de joueurs qui attendaient cet évènement avec impatience.</p>
        <p>Après moultes réflexions, on se lance et...</p>
      </div>
      <div>
        <div class="title-label color-palette-variation-contrast">
          <h2>Juillet 2022: Notre Premier Festival!</h2>
        </div>
        <p>...on se donne à fond et en deux mois on organise le premier festival <a href ="https://www.youtube.com/watch?v=-QKaLnTcTr0">Wanna Play in Brussels</a> qui a eu lieu aux Jardins de l'Hospice au centre de Bruxelles.</p>
        <br>
        
        <p>Le festival en chiffres:</p>
        <ul class = "align-text-left">
          <li>Aprem et soirée ludique au centre de Bruxelles de 12h à 23h.</li>
          <li>3500m² de jardins, d’allées et de tonnelles dédiés au jeu le temps d’une journée</li>
          <li>Événement gratuit pour tous</li>
          <li>70 tables animées pour l’occasion par des créateurs ou éditeurs de jeux belges et des clubs ou associations ludiques de Bruxelles et alentours.</li>
          <li>Environ 2500 participants sur l'après-midi!</li>
          <li>20 partenaires</li>
          <li>25 bénévoles</li>
          <li>36 animateurs</li>
          <li>1 mascotte pelucheuse</li>
          <li>165 jeux présentés</li>
          <li>2 sessions de Speed Gaming</li>
          <li>20 minis <a href="https://www.youtube.com/watch?v=PMNHLvEaFm4&t=306s">interviews</a></li>
          <li>Un soleil magnifique</li>
          <li>50: c'est le nombre de jours qu'on a eu pour organiser cette journée de folie!</li>
        </ul>
        
        <p>L’événement était un franc succès. L’alchimie entre participants,
          partenaires, bénévoles et l’équipe était idéale. L’accueil était
          chaleureux et la bonne humeur généralisée.
        </p>
        <br>
        <p>Bilan du festival: </p>
        <ul class = "align-text-left">
          <li>Le public drainé correspondait exactement au public ciblé. La majorité
            étaient des non-joueurs ou des joueurs occasionnels qui voulaient en
            apprendre d’avantage sur le jeu de société et découvrir ce hobby en
            étant guidés.</li>
          <li>Malgré les nombreuses difficultés, l’énergie de l’équipe et des
            bénévoles était au plus haut après l’événement. Quelques bénévoles (Pierre et Jenny)
            et partenaires ont même rejoint l’équipe. L’association a également
            beaucoup gagné en visibilité et en crédibilité, ce qui fait du bien après
            5 années de “montée en puissance” progressive.
            </li>
          <li>Il reste beaucoup à faire pour développer la vision de l’ASBL mais ce
            festival est indéniablement un moment clé de l’association dont tout
            le monde se souviendra avec bonheur.</li>
        </ul>
          </p>
      </div>
      <div id = "2023" class = "ancre">
          <div class="title-label color-palette-variation-contrast">
            <h2> 2023, année riche en animations!</h2>
          </div>
          <p>Suite au festival, nous avons été approchés par plusieurs personnes pour organiser des évènements ludiques sur Bruxelles, notamment par Lise de la Bibliothèque-ludothèque Muntpunt:</p>
          <p>Elle nous invite à co-organiser les soirées <a href="https://muntpunt.be/all-you-can-play">"All you can play"</a> afin de faire découvrir leur ludothèque. La première édition fût un gros succès: plus de 80 participants! Nous sommes donc partis pour faire une soirée jeux par mois avec eux. Cela nous permet de développer notre créativité, tester des concepts et d'inviter des intervenants surprenants:
            <ul class = "align-text-left">
              <li>
                <p>
                  <a href="https://www.instagram.com/cabinet_de_letrange/?__d=1">Le Cabinet de l'Etrange</a>
                  : leur équipe nous accompagne pour une soirée et nous permet de tester leurs énigmes et leur concept: un chouette mélange entre mystère, enquête et matériel qualitatif&nbsp;!
                </p>
                <img src="/src/assets/images/projet/cabinetEtrange.jpg" alt="Puzzle Cabinet de l'Etrange">
                <img src="/src/assets/images/projet/cabinetEtrange2.jpg" alt="Puzzle2 Cabinet de l'Etrange">
                <img src="/src/assets/images/projet/cabinetEtrange3.jpg" alt="Equipe Cabinet de l'Etrange">
                
              </li>
              <li>
                <p>
                  <a href="http://www.catherinebreyer.be/">Catherine Breyer</a>
                  : archéologue de formation, elle est venue nous présenter des reconstitutions de jeux de sociétés qui se pratiquaient dans l'antiquité. </li>
                </p>
                <img src="/src/assets/images/projet/catherine1.jpg" alt="Jeu antique 1">
                <img src="/src/assets/images/projet/catherine2.jpg" alt="Jeu antique 2">

              <li>Parce qu'on aime se compliquer la vie et se torturer l'esprit, on voulait trouver une manière originale de présenter les jeux. Nous en sommes donc arrivés à créer un gigantesque tableau qui permettait de classer les jeux entre le niveau de difficulté, la part de hasard du jeu et sa mécanique. L'objectif était de permettre aux joueurs de choisir leur prochain jeu en fonction de leur goût et des jeux testés précédemment. Cela leur a permis de découvrir des jeux qui a priori ne les tentait pas. Expérience réussie! </li>
              <img src="/src/assets/images/projet/echelleLudique.jpg" alt="Echelle ludique1">
              <img src="/src/assets/images/projet/echelleLudique2.jpg" alt="Echelle ludique2">
              <img src="/src/assets/images/projet/echelleLudique3.jpg" alt="Echelle ludique3">
            </ul>
          </p>
      </div>
      <div>
        <div class="title-label color-palette-variation-contrast">
          <h2> Printemps 2023</h2>
        </div>
        <p>Pour éviter le stress lié au timing pour l'organisation du festival, on décide de s'y prendre le plus tôt possible, ceci étant un compromis entre les "cool Raoul" et les "stressés de l'organisation" de l'équipe. On s'y met tranquilou, on décide de ce qu'on veut présenter au public, des horaires, mais cette fois on voit grand: on veut occuper les 2 jardins. Les discussions vont bon train et l'équipe des Jardins nous contacte pour faire des <a href ="https://www.facebook.com/media/set/?set=a.665532155583405&type=3">soirées jeux</a> avant le festival. On saute sur l'occasion: cela nous permet de pouvoir parler du festival de nous présenter et d'amener plus de monde. On décide de faire 3 soirées à thème: nature, fantastique et couleurs. Cela nous permet de sortir des (très bons)jeux qui ne sortent pas en temps normal.</p>
        <img src="/src/assets/images/projet/jardins4.jpg" alt="soirée jeux jardins4">
        <img src="/src/assets/images/projet/jardins2.jpg" alt="soirée jeux jardins2">
        <img src="/src/assets/images/projet/jardins.jpg" alt="soirée jeux jardins">
        
        <p>Vient alors l'idée loufoque du "Ludicomètre": sorte de thermomètre ludique qui permet de mesurer l'ambiance et l'amusement lors de la soirée. On s'est bien marrés à le faire mais en pratique, sur place, c'était compliqué de faire adhérer le public. On le garde dans nos tiroirs, on trouvera bien un moment pour le ressortir.</p>
        <img src="/src/assets/images/projet/ludicometre.jpg" alt="ludicometre">
        <img src="/src/assets/images/projet/jardins3.jpg" alt="bar au jardin">
        

      </div>
      
      <div>
        <div class="title-label color-palette-variation-contrast">
          <h2> juillet 2023: On rempile pour une deuxième édition</h2>
        </div>
      </div>

      <div>
        <div class="title-label color-palette-variation-contrast">
          <h2> Après l'effort...encore plus de projets!</h2>
        </div>
        <p>A nouveau, suite au festival, beaucoup de prises de contact pour l'organisation d'évènements ludiques sur Bruxelles.</p>
        <p>L'année 2023 a été riche en activités et en rencontres: on fait le bilan: une trentaine de projets ont été assumés sur l'année! On est fiers et heureux, mais épuisés. On n'a pas vraiment eu l'occasion de se poser après le festival, tout s'est enchaîné.</p>

         
      </div>

      <div id = "2024">
        <div class="title-label color-palette-variation-contrast">
          <h2> 2024</h2>          
        </div>
        <p>Qui dit nouvelle année, dit nouvelles résolutions et pour certains de nouveaux projets de vie. De gros changements d'équipe nous poussent à un retour aux sources: le site internet qui, faute de temps, était un peu à l'abandon.

        </p>
      </div>
      <div>
        <div class="title-label color-palette-variation-contrast">
          <h2>to be continued...</h2>
        </div>
      </div>
    </main>
  </BasicPage>
</SkeletonPage>

<style>
  #project-intro {
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding-top: 4vw;
    padding-bottom: 4vw;

    --skew-before: -1.2deg;
    --skew-before-origin: top left;
    --skew-after: 1deg;
    --skew-after-origin: bottom left;
  }
  .title-label {
    display: inline-block;
    position: relative;
    margin-bottom: 1.382rem;
    /* text-decoration: underline;
    text-decoration-color: var(--color-neutral); */
  }
  .title-label::after {
    background-color: inherit;
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: var(--border-radius-l);
    top: -0.691rem;
    bottom: -0.691rem;
    right: -1.382rem;
    left: -9999rem;

    /* Trial with box shadow not conclusive: https://css-tricks.com/full-browser-width-bars/ */
    /* top: 0; */
    /* bottom: 0; */
    /* left: -9999px; */
    /* right: 0; */
    /* border-left: 9999px solid var(--color-neutral); */
    /* box-shadow: 9999px 0 0 var(--color-neutral); */
  }
  main > div:nth-of-type(even) {
    text-align: right;
  }
  main > div:nth-of-type(2n) .title-label {
    --color-neutral: var(--color-teal);
  }
  main > div:nth-of-type(3n) .title-label {
    --color-neutral: var(--color-red);
  }
  main > div:nth-of-type(even) .title-label::after {
    /* border-left: 9999px solid var(--color-neutral); */
    /* box-shadow: 99px 0 0 var(--color-neutral); */
    right: -9999rem;
    left: -1.382rem;
  }
  main > div:nth-of-type(even) p {
    text-align: left;
  }

  .title {
    text-align: center;
  }

  .align-text-left {
    text-align: left;
  }

  .timelineNav ul {
    text-align: center;
  }
  .timelineNav ul li{
    display: inline;
    list-style: none;
  }
  .timelineNav a{
    display: inline-block;
    margin: 5px;
  }
  .ancre{
    /* position: relative; */
    top: -30px;
  }

  img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    display: inline-block;
    margin: 15px 5px 15px 5px;
  }
</style>
