---
import bannerYourAdHere from '@assets/images/ads/banner-your-ad-here.svg'
---

<li
  class="ad-orga-list-your-ad-here box no-border border-radius-s breakout-clickable"
  style={`--bg-image: url('${bannerYourAdHere.src}');`}
>
  <a href="/fr/contact/" class="button">Contacte nous</a>
</li>

<style>
  .ad-orga-list-your-ad-here {
    min-height: 15rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background: var(--bg-image) center / 100% auto no-repeat;
    display: flex;
    justify-content: center;
  }
  @media (min-width: 55rem) {
    .ad-orga-list-your-ad-here {
      grid-column: 2 / -1;
    }
  }
  @media (min-width: 70rem) {
    .ad-orga-list-your-ad-here {
      grid-column: 3 / -1;
      justify-content: flex-end;
    }
  }

  .ad-orga-list-your-ad-here a.button {
    display: block;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    padding-inline: 0.5em;
    border-radius: var(--border-radius-s);
    background-color: var(--color-neutral);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }
  .ad-orga-list-your-ad-here a.button:hover {
    background-color: var(--color-primary);
    color: white;
  }
</style>
