/* nuds color system - user defined values */
/* --------------------------------------- */

:root {
  /* All the colors we might want to use throughout the site with their respective variable names */
  --hsl-white: 0deg, 0%, 100%;
  --color-white: hsl(var(--hsl-white));
  --hsl-blue: 221deg, 55%, 41%;
  --color-blue: hsl(var(--hsl-blue));
  --color-blue-trans: hsla(var(--hsl-blue), 0.8);
  --hsl-teal: 181deg, 100%, 34%;
  --color-teal: hsl(var(--hsl-teal));
  --hsl-red: 347, 78%, 60%;
  --color-red: hsl(var(--hsl-red));
  --hsl-orange: 19deg, 100%, 64%;
  --color-orange: hsl(var(--hsl-orange));
  --hsl-purple: 273deg, 40%, 49%;
  --color-purple: hsl(var(--hsl-purple));
  --hsl-green: 111deg, 48%, 54%;
  --color-green: hsl(var(--hsl-green));
  --color-black: hsl(0, 0%, 7%);
  --color-dark: hsl(0, 0%, 20%);
  --color-grey: hsl(0, 0%, 53%);

  color: var(--color-text, hsl(221deg, 55%, 41%));
}

/* Assign the palette colors to elements */
body,
:--c-p--any {
  /* --- DEFAULTS --- */
  --color-text: var(--color-primary);
  --color-bg: var(--color-neutral);
  /* --color-border: var(); */
  /* --color-outline: var(); */
  --color-text-decoration: var(--color-secondary);
  /* --color-text-emphasis: var(); */
  --color-shadow: var(--color-blue-trans); /* has to be used manually in box-shadow definitions */
  /* --color-caret: var(); */
  /* --color-column-rule: var(); */
  /* --color-fill: var(); */
  /* --color-stroke: var(); */

  /* --- FOCUS --- */
  /* --color-outline--focus: var(); */

  /* --- SELECTION --- */
  --color-text--selection: var(--color-neutral);
  --color-bg--selection: var(--color-secondary);

  /* --- A --- */
  /* --color-text__a: var(--color-text); */
  /* --color-bg__a: transparent; */
  --color-text__a--hover: var(--color-secondary);
  /* --color-bg__a--hover: var(--color-neutral); */

  /* --- BUTTON --- */
  --color-text__button: var(--color-text);
  --color-bg__button: var(--color-bg);
  --color-text__button--hover: var(--color-secondary);
  --color-bg__button--hover: var(--color-bg);
  /* --color-text__button--disabled: var(--color-secondary); */
  /* --color-bg__button--disabled: var(--color-bg); */

  /* --- CODE --- */
  /* --color-text__code: var(--color-bg); */
  /* --color-bg__code: var(--color-secondary); */
  /* --color-border__code: var(--color-primary); */
}

/* color PALETTES */
:root,
body,
[data-c-p="main"],
[data-c-p="blue"],
.color-palette-main,
.color-palette-blue {
  --color-neutral-palette: var(--color-white);
  --color-primary-palette: var(--color-blue);
  --color-secondary-palette: var(--color-teal);
}
[data-c-p="teal"],
[data-c-p="shop"],
.color-palette-teal,
.color-palette-shop {
  --color-neutral-palette: var(--color-white);
  --color-primary-palette: var(--color-teal);
  --color-secondary-palette: var(--color-blue);
}
[data-c-p="red"],
[data-c-p="danger"],
[data-c-p="escape_room"],
[data-c-p="festival"],
.color-palette-red,
.color-palette-danger,
.color-palette-escape_room,
.color-palette-festival {
  --color-neutral-palette: var(--color-white);
  --color-primary-palette: var(--color-red);
  --color-secondary-palette: var(--color-blue);
}
[data-c-p="trans"],
[data-c-p="blue-trans"],
.color-palette-trans,
.color-palette-blue-trans {
  --color-neutral-palette: var(--color-blue-trans);
  --color-primary-palette: var(--color-white);
  --color-secondary-palette: var(--color-teal);
}
[data-c-p="purple"],
[data-c-p="club"],
[data-c-p="association"],
.color-palette-purple,
.color-palette-club,
.color-palette-association {
  --color-neutral-palette: var(--color-white);
  --color-primary-palette: var(--color-purple);
  --color-secondary-palette: var(--color-orange);
}
[data-c-p="orange"],
[data-c-p="warning"],
[data-c-p="toy_library"],
.color-palette-orange,
.color-palette-warning,
.color-palette-toy_library {
  --color-neutral-palette: var(--color-white);
  --color-primary-palette: var(--color-orange);
  --color-secondary-palette: var(--color-purple);
}
[data-c-p="green"],
[data-c-p="success"],
[data-c-p="bar"],
[data-c-p="restaurant"],
.color-palette-green,
.color-palette-success,
.color-palette-bar,
.color-palette-restaurant {
  --color-neutral-palette: var(--color-white);
  --color-primary-palette: var(--color-green);
  --color-secondary-palette: var(--color-blue);
}

/* color palette VARIATIONS */
[data-c-p-var="classic"],
.color-palette-variation-classic,
[data-c-p],
[data-c-p-var],
[class*="color-palette-"] {
  --color-neutral: var(--color-neutral-palette);
  --color-primary: var(--color-primary-palette);
  --color-secondary: var(--color-secondary-palette);
}
[data-c-p-var="contrast"],
.color-palette-variation-contrast {
  --color-neutral: var(--color-primary-palette);
  --color-primary: var(--color-neutral-palette);
  --color-secondary: var(--color-secondary-palette);
}
[data-c-p-var="funky"],
.color-palette-variation-funky {
  --color-neutral: var(--color-neutral-palette);
  --color-primary: var(--color-secondary-palette);
  --color-secondary: var(--color-primary-palette);
}
[data-c-p-var="funky-contrast"],
.color-palette-variation-funky-contrast {
  --color-neutral: var(--color-secondary-palette);
  --color-primary: var(--color-neutral-palette);
  --color-secondary: var(--color-primary-palette);
}
/* we can manage exceptions on a variation basis if necessary
  or with more complex selectors */
/* :--button[data-c-p~="contrast"], */
button[data-c-p-var$="contrast"],
button[class*="color-palette-"][class*="-contrast"] {
  --color-text__button--hover: var(--color-bg);
  --color-bg__button--hover: var(--color-text);
  --color-border__button: var(--color-bg);
  --color-outline: var(--color-bg);
}

/* If you use unexpected names for palette colors AND you use variations, you need to specify them here */
/* :root {
  --color-special-name: var(--color-special-name-palette);
} */
