---
import { SkeletonPage, BasicPage } from '@layouts'
// import FourOFour from '@pages/404.astro'
const PUBLIC_HOOK_PROD = import.meta.env.PUBLIC_HOOK_PROD || null
---

<SkeletonPage lang="fr">
    <BasicPage lang={{ code: 'fr' }}>
        {PUBLIC_HOOK_PROD ? (
            <main class="center max">
                <p>
                    <a href={`javascript:fetch('${PUBLIC_HOOK_PROD}',{method: 'POST'});`} class='reset button'>Build production website</a>
                </p>
            </main>
        ) : (
            <main class="max-width-measure-h2 center stack gap-down-h1 box no-border">
                <p class="h3">Oops. Il n'y à rien à cette adresse.</p>
            </main>
        )}
    </BasicPage>
</SkeletonPage>
