<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url='/fr/contact'" />
  </head>
  <body>
    <p>Il n'y a rien à cette adresse.</p>
    <p>Si tu n'est pas redirigé automatiquement, <a href="/fr/contact">clique ici</a>.</p>
  </body>
</html>