---
import { SkeletonPage, BasicPage } from '@layouts'

---

<SkeletonPage>
    <Fragment slot="head">
        <meta name="robots" content="noindex">
    </Fragment>
    <BasicPage lang={{ code: 'fr' }}>

    <main class="max-width-measure-h2 center stack gap-down-h1 box no-border">
        <p class="h3">Vous attérissez ici car vous avez cliquez sur une adresse mail.</p>
        <p>Nous utilisons Javascript de protéger les adresses mail de ce site. Si possible, activez Javascript dans votre navigateur.</p>
        <p>Sinon, un navigateur récent vous permettra tout de même de visualiser l'adresse pour la copier manuellement. Retournez à la page précédente pour copier l'adresse.</p>
        <p>Si vous ne voyez pas l'adresse, essayez de mettre à jour votre navigateur.</p>
    </main>
    

    </BasicPage>
</SkeletonPage>
