---
  import SkeletonLayout from '../layouts/SkeletonLayout.astro'
  import BasicPageLayout from '../layouts/BasicPageLayout.astro'

---

<SkeletonLayout>
  <BasicPageLayout>
    <header class="stack center intrinsic gap-down-h0">
        <h1><img src="/assets/images/LOGO-1024px.png" alt="Wanna Play - Connecte les joueurs" style="width: 100%; max-width: var(--measure);" /></h1>
        <p class="h2">Connecte les joueurs</p>
    </header>
  </BasicPageLayout>
</SkeletonLayout>