---
// import { io } from '@utils'
// const { props, $render } = await io(Astro)
const {
  props: { $skip, $skipNoInner, ...props },
} = Astro
const $render = true
---

{$render && (
  <p {...props}>
    <slot />
  </p>
)}
