<li
  class="spot-pub-orga-list box no-border border-radius-s"
  style="display: flex; align-items: center; justify-content: center; background-color: var(--color-teal);"
>
  <h2 style="color: white; margin: 0; font-size: clamp(2rem, 4vw, 3.5rem);">Spot PUB</h2>
</li>

<style>
  .spot-pub-orga-list {
    min-height: 10rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  @media (min-width: 55rem) {
    .spot-pub-orga-list {
      grid-column: 2 / -1;
    }
  }
  @media (min-width: 70rem) {
    .spot-pub-orga-list {
      grid-column: 3 / -1;
    }
  }
</style>
