---

---

<div id="template-global" class="">
  <div id="main-menu" class="box no-border">
    <nav class="center cluster overflow gap-h6-down">
      <ul class="reset">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/list">List</a>
        </li>
        <li>
          <a href="/styleguide">Styleguide</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="center">
    <slot />
  </div>
  <footer class="">
    <div class="">
      <a
        href="https://www.facebook.com/WannaPlayBE/"
        target="_blank"
        rel="noopener">Facebook</a> - <a href="https://www.youtube.com/channel/UCiDueliYGH4b3RMG0AYE5EQ/featured" target="_blank" rel="noopener">Youtube</a> - <a href="https://www.instagram.com/wannaplay_be/" target="_blank" rel="noopener">Instagram</a> - <a href="http://eepurl.com/cM3shf" target="_blank" rel="noopener">Newsletter</a> - <a href="https://open.spotify.com/user/1149328236/playlist/3GVw45aSu4KAai7C5lNQHN?si=RFN2zR1bQCqyT_oQe89CXQ" target="_blank" rel="noopener">Spotify</a></div><p class="css-1ka4ol6">Identité graphique et site web par <a href="http://www.feedbydesign.com/" class="css-bae6h4">Feed by Design</a><p class="css-1niq0go"><span>© Wanna Play ASBL - </span><span>0695.574.033 - </span><span>IBAN BE41 6511 6348 4210</span><br><span>Avenue Armand Huysmans 47 Bte 2, 1050 Ixelles, Belgique - info@wanna-play.be</span></p>
  </footer>
</div>

<style>
  #template-global {
    margin-bottom: var(--gap-xxl);
  }
  nav {
    /* --gap: var(--size-h6); */
    /* margin: var(--gap) 0; */
  }
</style>