---
import '../styles/global.css';

import SEO from '../components/SEO.astro'
import HeadFonts from '../partials/HeadFonts.astro'
import HeadIconsAndManifest from '../partials/HeadIconsAndManifest.astro'

const { lang = 'fr' } = Astro.props;
---

<html {lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->

    <HeadFonts />
    <HeadIconsAndManifest />

    <SEO
      locale="fr_BE"
      ogType="website"
      siteName="Wanna Play" />

    <slot name="head" />
  </head>
  <body>
    <slot name="body"/>
    <slot />
    <script src="/assets/js/instant.page.js" defer type="module"></script>
    <!-- <script hoist>import '../assets/js/instant.page.js';</script> -->
    <!-- <script hoist src="https://instant.page/5.1.0" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script> -->
  </body>
</html>
