---
import '../styles/global.css';

import SEO from '../components/SEO.astro'

const { lang = 'fr' } = Astro.props;
---

<html {lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Minimal favicon -->
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" />

    <!-- ### CRITICAL FONTS PRELOAD ### -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" /> -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com/" /> -->
    <link
      rel="preload"
      href="/assets/fonts/QuicksandCritical.woff2"
      as="font"
      type="font/woff2"
      crossorigin />

    <!-- FROM Wanna Play GATSBY site -->
    <!-- <meta name="generator" content="Gatsby 2.23.3">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Toute l'info liée au monde du jeu de société en Belgique | Wanna-Play.be</title>
    <link data-react-helmet="true" rel="canonical" href="https://www.wanna-play.be">
    <meta data-react-helmet="true" property="og:type" content="website">
    <meta data-react-helmet="true" property="og:image" content="/static/WannaPlay-247222ff36d9fef3c35b6852c815bde3.png">
    <meta data-react-helmet="true" property="og:site_name" content="Wanna Play">
    <meta data-react-helmet="true" property="og:title" content="Toute l'info liée au monde du jeu de société en Belgique | Wanna-Play.be">
    <meta data-react-helmet="true" name="description" content="Tu cherches une soirée jeux, un événement, un magasin, une ludothèque, un bar à jeux, un club, ...? Retrouve tout ça sur Wanna Play !">
    <meta data-react-helmet="true" property="og:description" content="Tu cherches une soirée jeux, un événement, un magasin, une ludothèque, un bar à jeux, un club, ...? Retrouve tout ça sur Wanna Play !">
    <meta data-react-helmet="true" property="og:url" content="https://www.wanna-play.be">
    <link rel="icon" href="/favicon-32x32.png?v=73b744b8a0cadb4035f66e19b54e3944">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="rgb(47,82,160)">
    <link rel="apple-touch-icon" sizes="48x48" href="/icons/icon-48x48.png?v=73b744b8a0cadb4035f66e19b54e3944">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/icon-72x72.png?v=73b744b8a0cadb4035f66e19b54e3944">
    <link rel="apple-touch-icon" sizes="96x96" href="/icons/icon-96x96.png?v=73b744b8a0cadb4035f66e19b54e3944">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/icon-144x144.png?v=73b744b8a0cadb4035f66e19b54e3944">
    <link rel="apple-touch-icon" sizes="192x192" href="/icons/icon-192x192.png?v=73b744b8a0cadb4035f66e19b54e3944">
    <link rel="apple-touch-icon" sizes="256x256" href="/icons/icon-256x256.png?v=73b744b8a0cadb4035f66e19b54e3944">
    <link rel="apple-touch-icon" sizes="384x384" href="/icons/icon-384x384.png?v=73b744b8a0cadb4035f66e19b54e3944">
    <link rel="apple-touch-icon" sizes="512x512" href="/icons/icon-512x512.png?v=73b744b8a0cadb4035f66e19b54e3944">
    <link rel="sitemap" type="application/xml" href="/sitemap.xml">
    <link rel="preconnect dns-prefetch" href="https://www.google-analytics.com"> -->
    

    <!-- ### MANIFEST & ICONS ### -->
    <!-- General -->
    <!-- <link rel="manifest" href="/manifest.webmanifest"> -->
    <meta name="theme-color" content="rgb(47,82,160)">
    <meta name="application-name" content="Wanna Play">

    <link rel="shortcut icon" href="/assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png" />

    <!-- Apple -->
    <meta name="apple-mobile-web-app-title" content="Wanna Play" />
    <link rel="apple-touch-icon" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png" />
    <link rel="apple-touch-icon" sizes="256x256" href="/assets/images/favicons/splash-256x256.png" />
    <link rel="apple-touch-icon" sizes="384x384" href="/assets/images/favicons/splash-384x384.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="/assets/images/favicons/splash-512x512.png" />
    <!-- When a tab is pinned in Safari, it uses this icon -->
    <!-- The image needs to be a square SVG image, with a transparent (or simply: no) background, and all vectors 100% black. -->
    <link rel="mask-icon" href="/assets/images/favicons/mask-icon.svg" color="rgb(47,82,160)" />

    <!-- Microsoft -->
    <!-- <meta name="msapplication-TileColor" content="grey" /> -->
    <!-- <meta name="msapplication-config" content="/favicons/browserconfig.xml" /> -->

    <!-- ### /MANIFEST & ICONS ### -->

    <SEO
      locale="fr_BE"
      ogType="website"
      siteName="Wanna Play" />

    <slot name="head" />
  </head>
  <body>
    <slot name="body"/>
    <slot />
    <script src="/assets/js/instant.page.js" defer type="module"></script>
    <!-- <script hoist>import '../assets/js/instant.page.js';</script> -->
    <!-- <script hoist src="https://instant.page/5.1.0" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script> -->
  </body>
</html>
