---
import { SkeletonPage, BasicPage } from '@layouts'
import { SEO } from '@components'
const lang = { code: 'fr' }
const pageUrl = new URL(Astro.url.pathname, Astro.site)
const canonicalUrl = (pageUrl.href + '/').replace(/[\/]+$/, '/')
---

<SkeletonPage {lang}>
  <SEO
    slot="head"
    ogType="website"
    title="Nos événements"
    description="Découvrez les événements passés et à venir de Wanna Play in Brussels"
    {canonicalUrl}
    socialImage={'/assets/images/LOGO-1024px.png'}
    ogVideo={false}
    twitterCard="summary"
  />
  <BasicPage {lang}>
    <main class="center width-max flow gap-h1">
      <header
        class="flex center text flow items-center gap-h7 color-palette-trans background-overlay padding-y-relative-xl"
        style='background-image: url("/assets/images/WannaPlay-banner-paper.jpeg");'
      >
        <h1>Nos événements</h1>
        <p class="h3 max-width-measure center text">
          Depuis 2017, Wanna Play réunit joueurs et "moins joueurs" autour de concepts très
          différents
        </p>
      </header>

      <div class="">
        <p> Depuis nos débuts, on adore créer des moments qui rassemblent. On a déjà organisé deux festivals, de nombreuses soirées jeux et animations publiques ou privées, ainsi que des activités intergénérationnelles où tout le monde trouve sa place. On propose aussi des animations pour des publics à besoins spécifiques, des formations et ateliers pour les professionnels, des team buildings d’entreprise et des animations commerciales en magasin.

Grâce à notre réseau de partenaires et d’animateurs, nous pouvons également imaginer des événements sur mesure, adaptés à tes envies et à ton public. D’une après-midi ou soirée jeux conviviale à la création de nouveaux concepts utilisant le jeu d’une autre manière, on s’adapte à chaque demande et à chaque contexte.

Bref, on aime varier les formats, tester de nouvelles idées et créer des expériences qui ont du sens. Et ce n’est que le début…
Retrouve ici quelques exemples d’événements passés et à venir.
      </div>

      <p class="center text h4">Retrouve ici quelques exemples d'événements passés et à venir</p>

      <section class="flow">
        <h2 class="center text">Organisé par Wanna Play</h2>
        <ul class="grid-fluid gap-h4 list reset" style="--width-column-min: var(--width-col-4);">
          <li
            class="event-card breakout-clickable box no-border border-radius-s color-palette-variation-contrast"
          >
            <a href="/fr/nos-evenements/wanna-play-in-brussel-2023" class="reset block">
              <h3 class="h4">Festival Wanna Play in Brussel 2023</h3>
            </a>
          </li>
          <li
            class="event-card breakout-clickable box no-border border-radius-s color-palette-variation-contrast"
          >
            <a href="/fr/nos-evenements/wanna-play-in-brussel-2022" class="reset block">
              <h3 class="h4">Festival Wanna Play in Brussel 2022</h3>
            </a>
          </li>
          <li
            class="event-card breakout-clickable box no-border border-radius-s color-palette-variation-contrast"
          >
            <a href="/fr/nos-evenements/inauguration" class="reset block">
              <h3 class="h4">Inauguration et soirée jeux</h3>
            </a>
          </li>
        </ul>
      </section>

      <section class="flow">
        <h2 class="center text">En partenariat</h2>
        <ul class="grid-fluid gap-h4 list reset" style="--width-column-min: var(--width-col-4);">
          <li
            class="event-card breakout-clickable box no-border border-radius-s color-palette-variation-funky-contrast"
          >
            <a href="/fr/nos-evenements/le-jeu-parfait" class="reset block">
              <h3 class="h4">Le Jeu Parfait</h3>
            </a>
          </li>
          <li
            class="event-card breakout-clickable box no-border border-radius-s color-palette-variation-funky-contrast"
          >
            <a href="/fr/nos-evenements/nuit-decouverte-ludique" class="reset block">
              <h3 class="h4">La nuit des découvertes ludiques</h3>
            </a>
          </li>
          <li
            class="event-card breakout-clickable box no-border border-radius-s color-palette-variation-funky-contrast"
          >
            <a href="/fr/nos-evenements/tables-ouvertes" class="reset block">
              <h3 class="h4">Tables ouvertes</h3>
            </a>
          </li>
        </ul>
      </section>

    <section>
    <a>    
    <ul>
      <li> Festival de la bière
      (… - 2025)
      Bruxelles - Woluwe-Saint-Pierre
      Coordination et animation
      <li>Soirées jeux [au Bar du Jardin](https://jardin.brussels/fr)
      (Avril, mai, juin 2023)
      Bruxelles - Centre ville
      Coodination et animation de 3 soirées jeux à thème (Couleurs, Nature, Fantastique) dans le Bar du Jardin du [Grand Hospice](https://www.grand-hospice.brussels/)
      <li>Apéro x Serious Game à [la Fonderie](https://www.lafonderie.be/)
      (03.06.2023 - 17.06.2023)
      Bruxelles - Molenbeek-Saint-Jean
      Coodination et animation jeux de société et jeux géants
      <li>[Muntpunt](https://muntpunt.be/) - All You Can Play
      (16/03/2023 - 20/09/2023 - 12/10/2023)
      Bruxelles - Centre ville
      Soirée jeux de société Muntpunt
      Coordination et animation FR ENG NL
      Partenaires: http://www.catherinebreyer.be/ https://www.sajou.be/auteur/thierry-saeys/ https://www.schmetagames.be/fr/ https://brusselsmahjongclub.home.blog/ https://www.instagram.com/des_mentiel/ https://www.instagram.com/cabinet_de_letrange/
      Et une soirée spéciale 'Discovery Night SPIEL-Essen'
      <li>Festival des Idées Bleues
      (01.10.2023)
      Wavre
      Aide animation, rangement, photos sur le festival organisé par la boutique [Les Idées Bleues](https://www.lesideesbleues.be/)
      <li>[Belvue](https://www.belvue.be/cms/web/fr/)
      Coordination, animation 
      <li>concours évent jeux quartier
      <li>
      <li>
        </a>
          </li>
        </ul>

      <section class="center text flow">
        <p>Tu veux proposer un partenariat ou organiser un événement ludique avec nous?</p>
        <p>
          <a href="/fr/contact/" class="reset button padding-x-h5 padding-y-h7">Contacte-nous</a>
        </p>
      </section>
    </main>
  </BasicPage>
</SkeletonPage>

<style>
  .event-card {
    min-height: var(--width-col-9);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .event-card a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-h3);
  }

  section {
    padding-block: var(--size-h1);
  }

  div.flow > * {
    --flow-space: var(--gap-h2);
  }
</style>
