---
import { SkeletonPage, BasicPage } from '@layouts'
import { SEO } from '@components'
const lang = { code: 'fr' }
const pageUrl = new URL(Astro.url.pathname, Astro.site)
const canonicalUrl = (pageUrl.href + '/').replace(/[\/]+$/, '/')
---

<SkeletonPage {lang}>
  <SEO
    slot="head"
    ogType="website"
    title="Nos événements"
    description="Découvrez les événements passés et à venir de Wanna Play in Brussels"
    {canonicalUrl}
    socialImage={'/assets/images/LOGO-1024px.png'}
    ogVideo={false}
    twitterCard="summary"
  />
  <BasicPage {lang}>
    <main class="center width-max flow gap-h2">
      <header
        class="flex center text flow items-center gap-h7 color-palette-trans background-overlay padding-y-relative-xl full-bleed"
        style='background-image: url("/assets/images/WannaPlay-banner-paper.jpeg"); margin-top: calc(-1 * var(--size-h2)); box-sizing: border-box; --full-bleed-max-width: var(--width-max);'
      >
        <h1>Nos événements</h1>
      </header>

      <div class="flow">
        <h2 class="center text">
          Depuis 2017, Wanna Play réunit joueurs et "moins joueurs" autour de concepts très
          différents
        </h2>
        <p>
          Depuis nos débuts, on adore créer des moments qui rassemblent. On a déjà organisé deux
          festivals, de nombreuses soirées jeux et animations publiques ou privées, ainsi que des
          activités intergénérationnelles où tout le monde trouve sa place. On propose aussi des
          animations pour des publics à besoins spécifiques, des formations et ateliers pour les
          professionnels, des team buildings d’entreprise et des animations commerciales en magasin.
        </p>

        <p>
          Grâce à notre réseau de partenaires et d’animateurs, nous pouvons également imaginer des
          événements sur mesure, adaptés à tes envies et à ton public. D’une après-midi ou soirée
          jeux conviviale à la création de nouveaux concepts utilisant le jeu d’une autre manière,
          on s’adapte à chaque demande et à chaque contexte.
        </p>

        <p>
          Bref, on aime varier les formats, tester de nouvelles idées et créer des expériences qui
          ont du sens. Et ce n’est que le début… Retrouve ici quelques exemples d’événements passés
          et à venir.
        </p>
      </div>

      <p class="center text p">Retrouve ici quelques exemples d'événements passés et à venir</p>

      <section class="flow">
        <h2 class="center text">Organisé par Wanna Play</h2>
        <ul class="grid-fluid gap-p list reset" style="--width-column-min: var(--width-col-4);">
          <li
            class="event-card breakout-clickable box no-border border-radius-s color-palette-variation-contrast"
          >
            <a href="/fr/nos-evenements/wanna-play-in-brussel-2023" class="reset block">
              <h3 class="p">Festival Wanna Play in Brussel 2023</h3>
            </a>
          </li>
          <li
            class="event-card breakout-clickable box no-border border-radius-s color-palette-variation-contrast"
          >
            <a href="/fr/nos-evenements/wanna-play-in-brussel-2022" class="reset block">
              <h3 class="p">Festival Wanna Play in Brussel 2022</h3>
            </a>
          </li>
          <li
            class="event-card breakout-clickable box no-border border-radius-s color-palette-variation-contrast"
          >
            <a href="/fr/nos-evenements/inauguration" class="reset block">
              <h3 class="p">Inauguration et soirée jeux</h3>
            </a>
          </li>
        </ul>
      </section>

      <section class="flow">
        <h2 class="center text">En partenariat</h2>
        <ul class="grid-fluid gap-p list reset" style="--width-column-min: var(--width-col-4);">
          <li
            class="event-card breakout-clickable box no-border border-radius-s color-palette-variation-funky-contrast"
          >
            <a href="/fr/nos-evenements/le-jeu-parfait" class="reset block">
              <h3 class="p">Le Jeu Parfait</h3>
            </a>
          </li>
          <li
            class="event-card breakout-clickable box no-border border-radius-s color-palette-variation-funky-contrast"
          >
            <a href="/fr/nos-evenements/nuit-decouverte-ludique" class="reset block">
              <h3 class="p">La nuit des découvertes ludiques</h3>
            </a>
          </li>
          <li
            class="event-card breakout-clickable box no-border border-radius-s color-palette-variation-funky-contrast"
          >
            <a href="/fr/nos-evenements/tables-ouvertes" class="reset block">
              <h3 class="p">Tables ouvertes</h3>
            </a>
          </li>
        </ul>
      </section>

      <section>
        <ul class="other-events flow">
          <li>
            <p class="bold">Festival de la bière</p>
            <p>(… - 2025)</p>
            <p>Bruxelles - Woluwe-Saint-Pierre</p>
            <p>Coordination et animation</p>
          </li>
          <li>
            <p class="bold">
              Soirées jeux <a href="https://jardin.brussels/fr">au Bar du Jardin</a>
            </p>
            <p>(Avril, mai, juin 2023)</p>
            <p>Bruxelles - Centre ville</p>
            <p>
              Coodination et animation de 3 soirées jeux à thème (Couleurs, Nature, Fantastique)
              dans le Bar du Jardin du <a href="https://www.grand-hospice.brussels/"
                >Grand Hospice</a
              >
            </p>
          </li>
          <li>
            <p class="bold">
              Apéro x Serious Game à <a href="https://www.lafonderie.be/">la Fonderie</a>
            </p>
            <p>(03.06.2023 - 17.06.2023)</p>
            <p>Bruxelles - Molenbeek-Saint-Jean</p>
            <p>Coodination et animation jeux de société et jeux géants</p>
          </li>
          <li>
            <p class="bold"><a href="https://muntpunt.be/">Muntpunt</a> - All You Can Play</p>
            <p>(16/03/2023 - 20/09/2023 - 12/10/2023)</p>
            <p>Bruxelles - Centre ville</p>
            <p>Soirée jeux de société Muntpunt</p>
            <p>Coordination et animation FR ENG NL</p>
            <p>
              Partenaires: <a href="http://www.catherinebreyer.be/">Catherine Breyer, </a>
              <a href="https://www.sajou.be/auteur/thierry-saeys/">Thierry Saeys, </a>
              <a href="https://www.schmetagames.be/fr/">Schmeta games, </a>
              <a href="https://brusselsmahjongclub.home.blog/">Brussels Mahjong Club, </a>
              <a href="https://www.instagram.com/des_mentiel/">Dés-mentiel, </a>
              <a href="https://www.instagram.com/cabinet_de_letrange/">Cabinet de l'étrange</a>
              Et une soirée spéciale 'Discovery Night SPIEL-Essen'
            </p>
          </li>
          <li>
            <p class="bold">Festival des Idées Bleues</p>
            <p>(01.10.2023)</p>
            <p>Wavre</p>
            <p>
              Aide animation, rangement, photos sur le festival organisé par la boutique <a
                href="https://www.lesideesbleues.be/">Les Idées Bleues</a
              >
            </p>
          </li>
          <li>
            <a href="https://www.belvue.be/cms/web/fr/" class="bold">Belvue</a>
            <p>Coordination, animation</p>
          </li>
          <li>
            <p class="bold">concours évent jeux quartier</p>
          </li>
        </ul>

        <section class="center text flow">
          <p>Tu veux proposer un partenariat ou organiser un événement ludique avec nous?</p>
          <p>
            <a href="/fr/contact/" class="reset button padding-x-h5 padding-y-h7">Contacte-nous</a>
          </p>
        </section>
      </section>
    </main>
  </BasicPage>

  <style>
    .event-card {
      min-height: var(--width-col-9);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .event-card a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--size-h3);
    }

    section {
      padding-block: var(--size-h1);
    }

    section.flow,
    div.flow > * {
      --flow-space: var(--gap-h2);
    }
  </style>
</SkeletonPage>
