---
import { SkeletonPage, BasicPage } from '@layouts'
import { SEO } from '@components'
---

<SkeletonPage lang="fr">
    <SEO
        slot="head"
        ogType="website"
        title="Mini festival ludique sous le soleil"
        description="Le 30 juillet 2022 Wanna-Play organisait un mini-festival ludique au Jardin Pacheco"
        canonicalUrl={Astro.canonicalURL.href}
        socialImage="/assets/images/LOGO-1024px.png"
        ogVideo={false}
        twitterCard="summary"
    />
    <BasicPage lang={{ code: 'fr' }}>
        <main class="max-width-measure-h3 center stack gap-down-h1 nice-title-2 box no-border">

            <header class="stack center text">
                <h1>Wanna-Play in Brussels</h1>
                <p class="h2 color-palette-variation-funky">Mini festival ludique sous le soleil</p>
            </header>

            <section id="project-intro" class="
                stack gap-down-h4 center text
                full-bleed-before full-bleed-after skew-border-before skew-border-after
                color-palette-variation-funky-contrast">
                <p>Le 30 juillet 2022, Wanna-Play organisait un festival ludique dans les jardins de l'<a href="https://www.facebook.com/grand.hospice" target="_blank">Hospice Pacheco.</a>
                De 12h à 23h, les visiteurs ont profité gratuitement de quelques 70 tables de jeux animées par 25 bénévoles et autant de partenaires, pour 165 jeux proposés.</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-QKaLnTcTr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>

            <div>
                <div class="color-palette-variation-contrast">
                    <h2>à l'origine</h2>
                </div>
                <div class="img-on-side">
                    <div class="illu" style="background-image: url('https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/304848917_5447939105289291_8005130131741770844_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=0debeb&_nc_ohc=VCc8QoDKh6cAX8-_d7a&tn=WUyldG2GOk2PAdz4&_nc_ht=scontent-bru2-1.xx&oh=00_AfC4_P4jfygmsUuJJo0Pjj4occ87u65-OcU6t06ohV3qEw&oe=636E9ED2');" ></div>
                    <div>
                        <p><i>D'où vient l'idée de ce festival, depuis quand il est préparé, quelles étaient les défis, pourquoi le Jardin de l'Hospice Pacheko ?
                        Mentionner la couverture médiatique, Yves sur la 1ère.</i></p>
                        <p>Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes, novum parumque aliquando temptatum commentum adgressus. quod si impetrasset, fulminis modo cuncta vastarat. erat autem quod cogitabat huius modi.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="color-palette-variation-contrast">
                    <h2>tables de jeux</h2>
                </div>
                <div class="img-on-side">
                    <div class="illu" style="background-image: url('https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/305018972_5447933531956515_4231755546608642174_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0debeb&_nc_ohc=3HWS62rYB3QAX85lkm8&_nc_ht=scontent-bru2-1.xx&oh=00_AfCYxW0rZ-xuG4-NLl8yioGIwoaNmPr2uNrhGTNUOM5DDw&oe=636F17E4');" ></div>
                    <div>
                        <p><i>Quelles associations ? Quels éditeurs ? Combien de jeux proposés ?</i></p>
                        <p>Sed tamen haec cum ita tutius observentur, quidam vigore artuum inminuto rogati ad nuptias ubi aurum dextris manibus cavatis offertur, inpigre vel usque Spoletium pergunt. haec nobilium sunt instituta.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="color-palette-variation-contrast">
                    <h2>protozones</h2>
                </div>
                <div class="img-on-side">
                    <div class="illu" style="background-image: url('https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/304779302_5447943115288890_543230057356720413_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=0debeb&_nc_ohc=gPWmYk5L_GoAX-ufRqN&_nc_ht=scontent-bru2-1.xx&oh=00_AfDC8MprEXbPlucpv4I6CRTmRbzw-CignrZ2Fn6a8HkxvA&oe=636FEC92');"></div>
                    <div>
                        <p><i>Combien de prototypes, quels auteurs ?</i></p>
                        <p>Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere.</p>
                        <p>Proficiscetur paludatus? Quo? Quo pervenire ante certam diem non licebit.</p>
                        <p>Ianuario, Februario, provinciam non habebit; Kalendis ei denique Martiis nascetur repente provincia.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="color-palette-variation-contrast">
                    <h2>prix des jeux Joker</h2>
                </div>
                <div class="img-on-side">
                    <div class="illu" style="background-image: url('');"></div>
                    <div>
                        <p><i>J'ai vu ceci dans le programme mais je ne sais pas en quoi ça consiste ?!</i></p>
                        <p>Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="color-palette-variation-contrast">
                    <h2>speed gaming</h2>
                </div>
                <div class="img-on-side">
                    <div class="illu" style="background-image: url('https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/304815483_5447929325290269_1673360460906424841_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_ohc=EUz4UlwPEM8AX8LLUJm&_nc_ht=scontent-bru2-1.xx&oh=00_AfCTfc4ZajTIU3JDY4YVgYFvNFPGT36RAeficvff6KycNA&oe=636F408E');"></div>
                    <div>
                        <p><i>En quoi consiste le speed gaming, combien de tables, quels jeux, combien de tours furent organisés ?</i></p>
                        <p>Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes, novum parumque aliquando temptatum commentum adgressus. quod si impetrasset, fulminis modo cuncta vastarat. erat autem quod cogitabat huius modi.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="color-palette-variation-contrast">
                    <h2>jeux d'extérieur en bois</h2>
                </div>
                <div class="img-on-side">
                    <div class="illu" style="background-image: url('https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/304759124_5447944178622117_5138754460624144917_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=0debeb&_nc_ohc=kJVYDHQgpcQAX-1M7HA&_nc_ht=scontent-bru2-1.xx&oh=00_AfB-HZ_B_oC6EmTenkrs_uzsTB5PbERXeviymPhwC5eGmw&oe=636FC717');"></div>
                    <div>
                        <p>Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes, novum parumque aliquando temptatum commentum adgressus. quod si impetrasset, fulminis modo cuncta vastarat. erat autem quod cogitabat huius modi.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="color-palette-variation-contrast">
                    <h2>lectures de contes</h2>
                </div>
                <div class="img-on-side">
                    <div class="illu" style="background-image: url('https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/305114790_5447929405290261_4784737838071299034_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=0debeb&_nc_ohc=RUIhl1zfpFQAX9Ui_jo&_nc_ht=scontent-bru2-1.xx&oh=00_AfBRO77hYi9t5FGi4bTnhmkGd1oW8pOErUXvhCV_V3daVQ&oe=636F9CB0');"></div>
                    <div>
                        <p>Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes, novum parumque aliquando temptatum commentum adgressus. quod si impetrasset, fulminis modo cuncta vastarat. erat autem quod cogitabat huius modi.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="color-palette-variation-contrast">
                    <h2>point d'info</h2>
                </div>
                <div class="img-on-side">
                    <div class="illu" style="background-image: url('https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/305304823_5447939435289258_7222673865776079445_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=0debeb&_nc_ohc=DBM8FZ-7OiEAX8n3wiO&_nc_ht=scontent-bru2-1.xx&oh=00_AfCB7ByOWjDH2y-GkO4CBIRhSDT1548-3rmmKRf5avBjCQ&oe=636EC07E');"></div>
                    <div>
                        <p>Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes, novum parumque aliquando temptatum commentum adgressus. quod si impetrasset, fulminis modo cuncta vastarat. erat autem quod cogitabat huius modi.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="color-palette-variation-contrast">
                    <h2>la boutique</h2>
                </div>
                <div class="img-on-side">
                    <div class="illu" style="background-image: url('https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/296132222_5348441378572398_5755534174372876755_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5cd70e&_nc_ohc=U59ANcmv5a4AX8VrhM8&_nc_ht=scontent-bru2-1.xx&oh=00_AfBchnYNIGmqbySZmjxr0C3ll9TVnOjXOVM_yCWqX5J8Xg&oe=636E6F48');"></div>
                    <div>
                        <p><i>Quel magasin ?, marchandising, correspondance entre les jeux à vendre et ceux joués sur place, ...</i></p>
                        <p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="color-palette-variation-contrast">
                    <h2>le bar</h2>
                </div>
                <div class="img-on-side">
                    <div class="illu" style="background-image: url('https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/305100996_5447949518621583_2368128511358399526_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=0debeb&_nc_ohc=y3O4z6zwL_4AX85byep&_nc_ht=scontent-bru2-1.xx&oh=00_AfDaNStGFyqFMyqWMYNE1QRc42-ASZAO_W0oUUx9GeWqCg&oe=636F9832');"></div>
                    <div>
                        <p><i>Faut-il parler du bar ?</i></p>
                        <p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="color-palette-variation-contrast">
                    <h2>questions aux animateurs</h2>
                </div>
                <div style="display:flex;">
                    <div>
                        <p>Meeple ou pion ? Collaboratif ou compétitif ? L'écologie dans le jeu ?... Nos animateurs répondent...</p>
                    </div>
                    <div style="min-width:400px; margin-left:20px;">
                        <iframe width="400" height="250" src="https://www.youtube.com/embed/PMNHLvEaFm4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div>
                <div class="color-palette-variation-contrast">
                    <h2>on remet le couvert ?</h2>
                </div>
                <div>
                    <p><i>Y aura-t-il un prochain rendez-vous ? Même endroit ? Même période ?</i></p>
                    <p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre.</p>
                </div>
            </div>

            <img class="illu" src="https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/304798831_5447931371956731_3889384516938819498_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=0debeb&_nc_ohc=UpjGcQKKV6EAX-8Cb_V&_nc_ht=scontent-bru2-1.xx&oh=00_AfAGiJ9TZMG_L8j2cpNxSppkafV06qT-tvhx22K50T_O6Q&oe=637048DE" />


        </main>
    </BasicPage>
</SkeletonPage>


<style>
#project-intro {
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding-top: 4vw;
    padding-bottom: 4vw;

    --skew-before: -1.2deg;
    --skew-before-origin: top left;
    --skew-after: 1deg;
    --skew-after-origin: bottom left;
}

/*
    Définition des règles pour la classe .nice-title-2, qui pourrait être copiée dans main.css
    afin d'avoir un agencement des titres comme dans la page "projet".
*/

.nice-title-2 > div:nth-of-type(even) {
    text-align: right;
}
.nice-title-2 > div:nth-of-type(2n) > div:first-child {
    --color-neutral: var(--color-teal);
}
.nice-title-2 > div:nth-of-type(3n) > div:first-child {
    --color-neutral: var(--color-red);
}
.nice-title-2 > div:nth-of-type(even) > div:first-child::after {
    right: -9999rem;
    left: -1.382rem;
}
.nice-title-2 > div:nth-of-type(even) p {
    text-align: left;
}
.nice-title-2 > div > div:first-child {
    display: inline-block;
    position: relative;
    margin-bottom: 1.382rem;
    text-decoration-color: var(--color-neutral);
}
.nice-title-2 > div > div:first-child::after {
    background-color: inherit;
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: var(--border-radius-l);
    top: -0.691rem;
    bottom: -0.691rem;
    right: -1.382rem;
    left: -9999rem;
}

/*
    Définition rapide (Responsive approximatif) de quelques classes pour des textes avec une image à gauche ou à droite.
    En attendant de d'utiliser les classes correctes du site.
*/
.illu {
    border-radius: var(--border-radius-l);
}
.img-on-side {
    display: flex;
}
main > div:nth-of-type(even) .img-on-side {
    flex-direction: row-reverse;
}
.img-on-side .illu {
    margin-right: 20px;
}
main > div:nth-of-type(even) .illu {
    margin-left: 20px;
    margin-right: 0;
}
.img-on-side .illu {
    min-width: 300px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
</style>